pytest
pytest-cov
pytest-html
black
loguru~=0.7.2
requests~=2.32.3
msal~=1.29.0
python-dotenv
openpyxl~=3.1.4
pytest-mock
openai~=1.35.3
pandas~=2.2.2
hydra-core


omegaconf~=2.3.0
numpy~=1.26.2
setuptools~=58.0.4